.default-link {
  text-decoration: none !important;
  color: black !important;
  cursor: "pointer";
}

.default-card {
  height: 28rem;
  text-align: center;
}

.default-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}